/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp LC(C)     // Copy
                &kp LC(V)     // Paste
            >;
        };
    };
};
